header.header(role='banner')
	.header__logo
		a(href="/"): img(alt="dApp logo", src="assets/i/logo-dapp.svg")
		span Robonomics.Network dApp

	.header__panel
		.account.on
			.account__avatar
				+avatar()
			.account__info
				.address 0x40c5...c8d3
				.status connected
			.account__actions
				button.btn-outline
					span.i-switch
					span.dynamictext Disconnect

		//- button
		//- 	span.i-switch
		//- 	span Connect account

		//- a(href="#").header__panel__settings: span.i-settings

		.nav
			//- button.header__panel__settings.btn-outline: span.i-settings
			button#mobile-menutoggle.header__panel__settings.btn-outline: span.i-menu