$border-radius: 6px;

%inputs_base{
	
  	border-radius: $border-radius;

  	display: inline-block;
  	vertical-align: middle;
  	padding: 6px 10px;

  	appearance: none;
  	-webkit-appearance: none;

  	&, &::placeholder {
  		@extend %font_base;
		font-size: $font-size-base;
		font-weight: 500;
  	}
}

%disabled
	{
		// cursor: default;
		cursor: not-allowed;

		&, &:hover
			{
				opacity: 0.5;
			}
	}

%btn{
	@extend %link_noline;

  	border: 0;
  	cursor: pointer;

  	font-size: $font-size-base;
  	text-align: center;

  	transition: all 0.2s ease-in-out;

  	&[disabled]{ @extend %disabled; }
}

%inputtext
{
	border-width: 1px;
	border-style: solid;
}


input:not([type='submit']):not([type='button'])
	{
		@extend %inputs_base;
		@extend %inputtext;	
	}


input[type="submit"], input[type="button"], button, *[class *= 'btn-']
	{
		@extend %inputs_base;
		@extend %btn;
	}






.input-size--sm
	{
		width: 70px;
		max-width: 100%;
		text-align: center;
	}

.input-size--md
	{
		width: 150px;
		max-width: 100%;
	}

.input-size--lg
	{
		width: 600px;
		max-width: 100%;
	}


.form-inputline
	{
		display: flex;
		justify-content: center;
		align-items: stretch;

		white-space: nowrap;

		input, button
			{
				flex-grow: 1;
				border-radius: $border-radius 0 0 $border-radius !important;
				border-right-width: 0px !important;

				&:last-child{
					border-radius: 0 $border-radius $border-radius 0 !important;
					border-right-width: 1px !important;
					border-left-width: 0px !important;
				}
			}
	}



.input-measured
	{
		position: relative;
		display: inline-block;

		.input-measure
			{
				position: absolute;
				right: 10px;
				top: calc( 50% - #{$font-size-base}/2);
				line-height: 1;
			}
	}


