extends extends/layout.pug
include mixins/sections.pug

block html
	- var meta_title = 'Robonomics Lighthouse'
	- var bodyclass = 'flexcols theme-light'

block content

	+sidebar(1, false)

	.content
		// +panelTop()
		.content-in
			section
				h2.breadcrumbs.m-b-0
					a(href="#")
						span.i-lighthouse
						span Lighthouses
					i /
					span Devcon 50

				.input-size--lg
					select#select-lighthouseConnect
					#lighthouse-connection.m-t-5

				script.
					var select = new SlimSelect({
						select: '#select-lighthouseConnect',
						data: [
							{placeholder: true, text: 'Choose lighthouse'},
							{label: 'devcon50.lighthouse.5.robonomics.eth',
								options: [{
									innerHTML: '0xf3210eAbEB11FF1389722b2910B9256042d9DE79',
									text: '0xf3210eAbEB11FF1389722b2910B9256042d9DE79',
									value: 'select0',
									selected: true
									}]
							},
							{label: 'a.lighthouse.5.robonomics.eth',
								options: [{
									innerHTML: '0x28f95c484ee55E6aB8A2feF72EB51bC65cdd4324',
									text: '0x28f95c484ee55E6aB8A2feF72EB51bC65cdd4324',
									value: 'select1'
									}]
							},
							{label: 'airalab.lighthouse.5.robonomics.eth',
								options: [{
									innerHTML: '0xD40AC7F1e5401e03D00F5aeC1779D8e5Af4CF9f1',
									text: '0xD40AC7F1e5401e03D00F5aeC1779D8e5Af4CF9f1',
									value: 'select2'
									}]
							},
							{label: 'mobilerobotics.lighthouse.5.robonomics.eth',
								options: [{
									innerHTML: '0x8165ad3d400bda2be5fe27254a5e55e0f393921f',
									text: '0x8165ad3d400bda2be5fe27254a5e55e0f393921f',
									value: 'select3'
									}]
							},

							{label: 'New lighthouse',
								options: [{
									innerHTML: 'create new lighthouse',
									text: 'create new lighthouse',
									value: 'new',
									class:'type-new'
									}]
							}
						],
						onChange: (info) => {
						    console.log(info);
						    if(info.class == 'type-new'){
								document.querySelectorAll('#lighthouse-connection')[0].innerHTML = '<p><label class="t-sm">Name of the lighthouse</label><br/><input type="text" value="" class="input-size--lg"/></p>'
								+ '<p><label class="t-sm">Minimal stake to get one quota (XRT)</label><br/><input type="number" value="0.000001" class="input-size--md"/></p>'
								+ '<p><label class="t-sm">Silence timeout for provider in blocks</label><br/><input type="number" value="25" class="input-size--sm"/></p><button>Create and connect</button>';
								// + '<br/><button class="btn-blue">Create and connect</button>';
						    }
						    else{
						    	// document.querySelectorAll('#lighthouse-connection')[0].innerHTML = info.innerHTML;
						    	document.querySelectorAll('#lighthouse-connection')[0].innerHTML = '<button>Connect</button>';
						    }  	
					  	}
					});



				.row
					.col-lg-4.col-md-5.order-md-last
						section
							section.section-light.window#window-developletter
								.window-head
									span Lighthouse details
									// a.window-head-toggle(href="#") –
								.window-content
									p
										span.t-sm Lighthouse contract address:
										br/
										a(href="#", target="_blank").align-vertical.m-r-10
											+avatar('avatar-small align-vertical m-r-10')
											b 0xD40A...F9f1
										a(href="#", title="copy address").align-vertical.i-copy
									hr/
									p
										span.t-sm Lighthouse status:
										br/
										b Sleeping (no events more then 2 blocks)
									hr/
									p
										span.t-sm Balance:
										br/
										b 3000 XRT
									hr/
									p
										span.t-sm Minimal stake per quote:
										br/
										b 1000 XRT
									hr/
									p
										span.t-sm Available for work at the lighthouse:
										br/
										b 0 XRT
									hr/
									p
										span.t-sm Available for work:
										br/
										input(type="text", value="0").input-size--sm.m-r-10.input-sm
										button.btn-blue.input-sm(disabled) Approve quotes
									hr/
									p
										span.t-sm Available for trade:
										br/
										input(type="text", value="0").input-size--sm.m-r-10.input-sm
										button.btn-blue.input-sm Approve XRT



									
					.col-lg-8.col-md-7

						section.section-light
							form
								h3 Send message to the Robonomics.network

								.form-item.form-line-label
									label(for="input1")
										span The program's model
										a.js-tooltip.m-l-10(href="javascript:;", data-tooltip="'The CPSs behavioral model, or program, which takes into account the technical and economic parameters of its communication' - from Robonomics White Paper, 4 Liability of the machine")
											i.i-info
									input.container-full#input1(type="text", placeholder="Hash from IPFS")


								.form-item#moreopts(style="display:none")
									.form-item.form-line-label
										label(for="input2")
											span Price
										input#input2(type="text", value="0")

									.form-item.form-line-label
										label(for="input3")
											span Objective
										input#input3(type="text", value="0x")

									.form-item.form-line-label
										label(for="input4")
											span Token
										select#input4
											option(selected) XRT


								.form-item.form-line-label
									a.a-dashed(href="javascript:;", onclick="show(this, '#moreopts', 'Minimize', 'More options');return false;") More options

								section.m-b-0
									button.btn-green Broadcast signal to the network


						section.section-light.window#window-lighthouse-messages
							.window-head
								span Messages from the Robonomics.network
								a.window-head-toggle(href="#") –
							.window-content
								div
									+avatar('avatar-small align-vertical m-r-10')
									b [21:55:32] 
									| Provider 
									a(href="#") 0x2e...5041b7
									| &nbsp;sent tx to Ethereum network

								hr/

								div
									+avatar('avatar-small align-vertical m-r-10')
									b [21:54:55] 
									| New offer from Aira 
									a(href="#") 0x2e...5041b7

								hr/

								div
									+avatar('avatar-small align-vertical m-r-10')
									b [21:53:01] 
									| New demand from dapp account 
									a(href="#") 0xe5...620e84

								hr/

								div
									+avatar('avatar-small align-vertical m-r-10')
									b [20:14:55] 
									| New offer from Aira 
									a(href="#") 0x4h...56Gf1

						
						section.section-light.window#window-lighthouse-providers
							.window-head
								span Providers
								a.window-head-toggle(href="#") –
							.window-content
								table.container-full.table-hover
									thead
										tr
											th #
											th Address
											th Quota
											th Balance
											th Status
									tbody
										tr
											td 1
											td
												a(href="#", target="_blank").align-vertical.m-r-10
													+avatar('avatar-small align-vertical m-r-10')
													b 0x4200...1680 
												a(href="#", title="copy address").align-vertical.i-copy
											td  1
											td  0.092 ETH
											td Active
										tr
											td 2
											td
												a(href="#", target="_blank").align-vertical.m-r-10
													+avatar('avatar-small align-vertical m-r-10')
													b 0x4bed...df5a
												a(href="#", title="copy address").align-vertical.i-copy
											td  2 / 2
											td  0.005 ETH
											td Sleeping

