extends extends/layout.pug

block html
	- var meta_title = 'Loading dApp'
	- var bodyclass = 'theme-light'

block content
	.container-basic
		section.loading-container
			.loading-logo
				img(alt="dApp logo", src="assets/i/logo-dapp-2.svg", style="width: 150px;")
			.t-uppercase.t-lg.tcolor-violet robonomics.network

			section
				.loader
					.loader-ring.align-vertical.m-r-15
					b.align-vertical.t-style_uppercase Loading