extends extends/layout.pug
include mixins/sections.pug

block html
	- var meta_title = 'Сервисы'
	- var bodyclass = 'flexcols theme-light'

block content

	+sidebar(0, true)

	.content
		// +panelTop()
		.content-in
			h1 Сервисы
			
			section.flex-grid

				+item()

				+item(
					'assets/i/services/gaka-chu.png',
					'Gaka-chu',
					'Купите мысль робота на холсте с цифровой меткой права в публичном блокчейне.',
					'Airalab',
					'XRT')


				+item(
					'assets/i/services/smart-buildings.png',
					'Smart building offsetting',
					'Сервис погашения углеродного следа умных зданий на основе информации о геолокации и потреблении электроэнергии.',
					'DAO IPCI IoT connection',
					'DAI',
					provider_title,
					unit_title,
					true)


				+item(
					'assets/i/services/smart-assets.png',
					'Environmental assets tokenization',
					'Сервис эмиссии углеродных единиц и зеленых сертификатов на основе данных от возобновляемого источника электроэнергии.',
					'DAO IPCI IoT connection',
					'DAI')

				+item(
					'assets/i/services/drone-passport.png',
					'Drone passport registration',
					'Сервис глобальной регистрации дронов в Ethereum Blockchain.',
					'Distributed sky',
					'–')

				+item(
					'assets/i/services/drone-route.png',
					'Drone flight report',
					'Сервис публичных отчетов о выполненных полетах дронов.',
					'Distributed sky',
					'–')


