extends extends/layout.pug
include mixins/sections.pug

block html
	- var meta_title = 'Сервисы IPCI'
	- var bodyclass = 'flexcols theme-light'

block content

	+sidebar(0, true, 'assets/i/logo-dapp-ipci-light.svg', 'assets/i/logo-dapp-ipci-dark.svg', 'ipci')

	.content
		// +panelTop()
		.content-in
			h1 Services
			
			section.flex-grid

				+item()

				+item(
					'assets/i/services/smart-buildings.png',
					'Smart building offsetting',
					'Carbon footprint clearance for smart buildings based on geolocation and energy consumption information.',
					'DAO IPCI IoT connection',
					'DAI')

				+item(
					'assets/i/services/smart-assets.png',
					'Environmental assets tokenization',
					'Emission of carbon units and green certificates based on data from renewable energy sources.',
					'DAO IPCI IoT connection',
					'DAI',
					provider_title,
					unit_title,
					true)


				.section-light.item
					a(href="#").item-img: img.i-block(alt="", src="assets/i/services/smart-assets.png")
					.item-content
						h2: a(href="#") Environmental assets tokenization
						.t-hyphen Emission of carbon units and green certificates based on data from renewable energy sources.
						.item-bottom
							.item-bottom--line Provider: 
								span.item-bottom--info DAO IPCI IoT connection
								// a.item-bottom--info.disabled(href="#") DAO IPCI IoT connection
								a.js-tooltip.icon-round-sm.m-l-15(href="#", data-tooltip="Здесь инфо о том, что это провайдер. Общая для всех сервисов, наверное") i
							.item-bottom--line Payment token: 
								span.item-bottom--info DAI


				.section-light.item
					a(href="#").item-img: img.i-block(alt="", src="assets/i/services/ipci-project-bambous-01.jpg")
					.item-content
						h2: a(href="#") Supporting First Solar Energy Project in Mauritius
						.t-hyphen 15.2 MW solar photovoltaic power plant located in Mauritius, a country part of the Small Island Developing States (SIDS). It is the island first ever solar power plant.
						.item-bottom
							.item-bottom--line Provider: 
								span.item-bottom--info Russian Carbon Fund, Aera Group
								// a.item-bottom--info.disabled(href="#") Russian Carbon Fund, Aera Group
								// a.js-tooltip.icon-round-sm.m-l-15(href="#", data-tooltip="Здесь инфо о том, что это провайдер. Общая для всех сервисов, наверное") i
							.item-bottom--line Available carbon units: 
								span.item-bottom--info 396 VCU

