extends extends/layout.pug
include mixins/sections.pug

block html
	- var meta_title = 'Сервисы Робономики'
	- var bodyclass = 'flexcols theme-light'

block content

	+sidebar(0, true)

	.content
		// +panelTop()
		.content-in
			h1 Сервисы Робономики
			
			section.flex-grid

				+item(
					'assets/i/services/digital-passport.png',
					'Регистрация цифрового паспорта',
					'Сервис глобальной регистрации в Ethereum Blockchain.',
					'Airalab',
					false)

				+item(
					'assets/i/services/gaka-chu.png',
					'Гака-чу',
					'Купите мысль робота на холсте с цифровой меткой права в публичном блокчейне.',
					'Airalab',
					'XRT')


				+item(
					'assets/i/services/smart-buildings.png',
					'Погашение углеродного следа для умного здания',
					'Сервис погашения углеродного следа умных зданий на основе информации о геолокации и потреблении электроэнергии.',
					'DAO IPCI IoT connection',
					'DAI',
					provider_title,
					unit_title,
					true,
					"Вам необходимо подтвердить DAI токены для умного контракта Робономики")


				+item(
					'assets/i/services/smart-assets.png',
					'Токенизация экологических активов',
					'Сервис эмиссии углеродных единиц и зеленых сертификатов на основе данных от возобновляемого источника электроэнергии.',
					'DAO IPCI IoT connection',
					'DAI')

				+item(
					'assets/i/services/drone-passport.png',
					'Регистрация паспорта дрона',
					'Сервис глобальной регистрации дронов в Ethereum Blockchain.',
					'Distributed sky',
					false)

				+item(
					'assets/i/services/drone-route.png',
					'Отчёт о полётах дронов',
					'Сервис публичных отчетов о выполненных полетах дронов.',
					'Distributed sky',
					false)


				+item()


