extends extends/layout.pug
include mixins/sections.pug

block html
	- var meta_title = 'Services of DCZD'
	- var bodyclass = 'flexcols theme-light'

block content

	+sidebar(0, true, 'assets/i/logo-dapp-dczd-light.svg', 'assets/i/logo-dapp-dczd-dark.svg')

	.content
		// +panelTop()
		.content-in
			h1 Services of DCZD
			
			section.flex-grid

				+item(
					'assets/i/services/drone-passport.png',
					'Drone passport registration',
					'Global drone registration service in the Ethereum Blockchain.',
					'Distributed sky',
					false)

				+item(
					'assets/i/services/drone-route.png',
					'Drone flight report',
					'Drone flight public reporting service.',
					'Distributed sky',
					false)


