extends extends/layout.pug
include mixins/sections.pug

block html
	- var meta_title = 'Сервисы программы IPCI'
	- var bodyclass = 'flexcols theme-light'

block content

	+sidebar(0, true, 'assets/i/logo-dapp-ipci-light.svg', 'assets/i/logo-dapp-ipci-dark.svg', 'ipci')

	.content
		// +panelTop()
		.content-in
			h1 Сервисы
			
			section.flex-grid

				+item(
					'assets/i/services/smart-buildings.png',
					'Погашение углеродного следа для умного здания',
					'Сервис погашения углеродного следа умных зданий на основе информации о геолокации и потреблении электроэнергии.',
					'DAO IPCI IoT connection',
					'DAI',
					'Провайдер:',
					'Платёжный токен:')

				+item(
					'assets/i/services/smart-assets.png',
					'Токенизация экологических активов',
					'Сервис эмиссии углеродных единиц и зеленых сертификатов на основе данных от возобновляемого источника электроэнергии.',
					'DAO IPCI IoT connection',
					'DAI',
					'Провайдер:',
					'Платёжный токен:')

				+item(
					'assets/i/services/ipci-project-bambous-01.jpg',
					'Погашение углеродного следа с помощью солнечной энергии на острове Маврикий',
					'Солнечная фотоэлектрическая электростанция мощностью 15,2 МВт расположена на Маврикии, в стране, являющейся частью малых островных развивающихся государств (МОРАГ). Это первая в мире солнечная электростанция на острове.',
					'Russian Carbon Fund, Aera Group',
					'396 VCU',
					'Провайдер:',
					'Доступные углеродные единицы')


				+item(
					'assets/i/services/ipci-project-himprom-02.jpg',
					'Утилизация отработанного коксового газа, Кемерово, Россия',
					'ООО «Химпром» завершило процедуру независимого заверения в соответствии с требованиями DAO IPCI в отношении сокращения выбросов ПГ, достигнутого в 2013–2016 годах, путем реализации проекта утилизации отработанного коксового газа с целью замещения выработки тепла природным газом в объеме 201 085 т CO2. Подтверждение выполнено KPMG (Россия)',
					'DAO IPCI, Russian Carbon Fund',
					'201083 TMU Khimprom',
					'Провайдер:',
					'Доступные углеродные единицы')

				+item(
					'assets/i/services/ipci-project-swisskrono-03.jpg',
					'Древесные отходы для тепловой энергии, Шарья, Россия',
					'Компания SWISS KRONO LLC завершила процедуру независимой гарантии в соответствии с требованиями DAO IPCI в отношении сокращения выбросов парниковых газов, достигнутого в 2013–2016 годах, выполнив «Древесные отходы для выработки тепловой энергии» с 1 января 2013 года по 30 июня 2017 года в объеме 1 419 861 тонн в эквиваленте CO2. Был выполнен KPMG (Россия)',
					'DAO IPCI, Russian Carbon Fund',
					'–',
					'Провайдер:',
					'Доступные углеродные единицы')