extends extends/layout.pug
include mixins/sections.pug

block html
	- var meta_title = 'Сервисы IPCI'
	- var bodyclass = 'flexcols theme-light'

block content

	+sidebar(0, true, 'assets/i/logo-dapp-ipci-light.svg', 'assets/i/logo-dapp-ipci-dark.svg', 'ipci')

	.content
		// +panelTop()
		.content-in
			h1 Services
			
			section.flex-grid
			
				.section-light.item
					a(href="#").item-img: img.i-block(alt="", src="assets/i/services/smart-buildings.png")
					.item-content
						h2: a(href="#") Smart building offsetting
						.t-hyphen Сервис погашения углеродного следа умных зданий на основе информации о геолокации и потреблении электроэнергии.
						.item-bottom
							.item-bottom--line Provider: 
								span.item-bottom--info DAO IPCI IoT connection
								// a.item-bottom--info.disabled(href="#") DAO IPCI IoT connection
								// a.js-tooltip.icon-round-sm.m-l-15(href="#", data-tooltip="Здесь инфо о том, что это провайдер. Общая для всех сервисов, наверное") i
							.item-bottom--line Payment token: 
								span.item-bottom--info DAI


				.section-light.item
					a(href="#").item-img: img.i-block(alt="", src="assets/i/services/smart-assets.png")
					.item-content
						h2: a(href="#") Environmental assets tokenization
						.t-hyphen Сервис эмиссии углеродных единиц и зеленых сертификатов на основе данных от возобновляемого источника электроэнергии.
						.item-bottom
							.item-bottom--line Provider: 
								span.item-bottom--info DAO IPCI IoT connection
								// a.item-bottom--info.disabled(href="#") DAO IPCI IoT connection
								// a.js-tooltip.icon-round-sm.m-l-15(href="#", data-tooltip="Здесь инфо о том, что это провайдер. Общая для всех сервисов, наверное") i
							.item-bottom--line Payment token: 
								span.item-bottom--info DAI


				.section-light.item
					a(href="#").item-img: img.i-block(alt="", src="assets/i/services/ipci-project-bambous-01.jpg")
					.item-content
						h2: a(href="#") Supporting First Solar Energy Project in Mauritius
						.t-hyphen 15.2 MW solar photovoltaic power plant located in Mauritius, a country part of the Small Island Developing States (SIDS). It is the island first ever solar power plant.
						.item-bottom
							.item-bottom--line Provider: 
								span.item-bottom--info Russian Carbon Fund, Aera Group
								// a.item-bottom--info.disabled(href="#") Russian Carbon Fund, Aera Group
								// a.js-tooltip.icon-round-sm.m-l-15(href="#", data-tooltip="Здесь инфо о том, что это провайдер. Общая для всех сервисов, наверное") i
							.item-bottom--line Available carbon credits: 
								span.item-bottom--info 396 VCU

