extends extends/layout.pug
include mixins/sections.pug

block html
	- var meta_title = 'Statistics of Robonomics'
	- var bodyclass = 'flexcols theme-light'

block content

	+sidebar(2, false)


	.content
		// +panelTop()
		.content-in
		
			section
				h1
					p.m-b-5 Statistics of Robonomics network
					p.m-b-0.t-sm: span.label.label-orange Disconnected
					p.m-b-0.t-sm: i Waiting for IPFS data

			section.section-light
				.row
					.col-md-4
						h3.m-b-0 Robotics under Ethereum control
						b.t-gt –
					.col-md-4
						h3.m-b-0 Amount of recycling gas
						b.t-gt –
					.col-md-4
						h3.m-b-0 Robonomics token, XRT
						b.t-gt –


			section.section-light
				h2 Robonomics Telemetry
				table.container-full.table-hover
					thead
						tr
							th ipns
							th address eth
							th lighthouse
							th provider
							th peers
							th date
							th network
					tbody
						tr
							td(colspan="7") No data available