extends extends/layout.pug
include mixins/sections.pug

block html
	- var meta_title = 'Statistics of Robonomics'
	- var bodyclass = 'flexcols theme-light'

block content

	+sidebar(2, false)


	.content
		+panelTop()
		.content-in
		
			section
				h1
					span.d-block Statistics of Robonomics network
					span.label.label-green.t-sm.align-top Connected

			section.section-light
				.row
					.col-md-4
						h3.m-b-0 Robotics under Ethereum control
						b.t-gt 42
					.col-md-4
						h3.m-b-0 Amount of recycling gas
						b.t-gt 40 140 384
					.col-md-4
						h3.m-b-0 Robonomics token, XRT
						b.t-gt 0.15


				hr/


				#statistic(style="display:none")
					.row
						.col-md-4
							table.container-full.table-hover.table-full
								caption Total launched by Robonomics gen 5
								tbody
									tr
										td last 24 hours 
										td 0
									tr
										td last week
										td 0
									tr
										td last month
										td 42

							table.container-full.table-hover.table-full
								caption Amount of finalized contract liabilities
								tbody
									tr
										td last 24 hours 
										td 0
									tr
										td last week
										td 0
									tr
										td last month
										td 20
						.col-md-4
							table.container-full.table-hover.table-full
								caption Full amount of utilized gas
								tbody
									tr
										td last 24 hours 
										td 0
									tr
										td last week
										td 0
									tr
										td last month
										td 40 140 384

							table.container-full.table-hover.table-full
								caption Profit amount of utilized gas
								tbody
									tr
										td last 24 hours 
										td 0
									tr
										td last week
										td 0
									tr
										td last month
										td 21 824 362
						.col-md-4
							section
								a(hred="#", target="_blank") xrt.5.robonomics.eth
								br/
								b Token address: 
								code.code-overflow-line 0x7dE91B204C1C737bcEe6F000AAA6569Cf7061cb7
							table.container-full.table-hover
								caption Token statistics
								tbody
									tr
										td Total amount of XRT in circulation:
										td 1 003.13 XRT
									tr
										td Providers reward per tx ~
										td 0.15 XRT

				section.t-align--center.m-b-0
					a(href="#", onclick="show(this, '#statistic', '&uarr; Minimize &uarr;', '&darr; Expand &darr;');return false;") &darr; Expand &darr;


			section.section-light
				h2 Robonomics Telemetry
				table.container-full.table-hover
					thead
						tr
							th ipns
							th address eth
							th lighthouse
							th provider
							th peers
							th date
							th network
					tbody
						tr
							td(colspan="7") No data available