html, body { position: relative; height: 100%; }

body
  {
    opacity: 0;
    animation: 0.4s FadeIn ease-in forwards;

    min-height: 100vh;

    display: grid;
    grid-template-rows: 70px 1fr;
  }


main {
  position: relative;
  display: grid;
  grid-template-columns: 200px 1fr;
  overflow: hidden;
}


.header {
  background-color: var(--color-sectionback);
  border-bottom: 1px solid var(--color-separate-mid);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: $padding-fields;
  padding-right: $padding-fields;

  &__logo {
    display: grid;
    grid-template-columns: 2.5rem 1fr;
    gap: 1rem;
    align-items: center;

    a {
      display: block;
    }

    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }

    span {
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;

      @media screen and (max-width: 720px) {
        display: none;
      }
    }
  }

  &__panel {
    display: flex;
    align-items: center;

    & > * {
      margin-left: 1.5rem;
      &:first-child {
        margin-left: 0;
      }
    }

    &__settings {
      color: var(--color-text) !important;
      border-color: var(--color-text) !important;

      &:hover {
        color: var(--color-text-accent) !important;
        border-color: var(--color-text-accent) !important;
        background-color: transparent !important;
      }
    }

    .nav {
      & > * {
        display: inline-block;
        margin-right: 0.3rem;

        &:last-child {
          margin-right: 0;;
        }
      }
    }
  }
}

#mobile-menutoggle {
  display: none;
}


/* SIDEBAR mobile */

@media screen and (max-width: 720px) {
  main {
    display: block;
    overflow-y: scroll;
  }

  .sidebar {
    position: fixed;
    z-index: 100;
    bottom: 0;
    top: 0;
    right: 0;
    border-left: 1px solid var(--color-separate-mid);
    min-width: 250px;

    @include closeOpen();
  }

  #mobile-menutoggle {
    display: inline-block;
  }
}


.outback {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: var(--color-sectionback);
  
  @include closeOpen(0.8);
}

/* end of SIDEBAR mobile */

.account {
  & > * {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5rem;

    &:first-child {margin-left: 0;}
  }

  font-size: $font-size-base - 3;
  line-height: 1.2;
  font-weight: 500;

  &.on {
    .account__avatar{
      img {
        opacity: 1;
      }

      &:before {
        background-color: var(--color-green);
      }
    }

    .status {
      color: var(--color-green);
    }
  }

  &__avatar {
    position: relative;

    &:before {
      content:"";
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: var(--color-gray-light);
      position: absolute;
      top: -5px;
      right: -5px;
      border: 1px solid var(--color-sectionback);
    }

    img {
      display: block;
      width: 25px;
      height: 25px;
      opacity: 0.5;
    }
  }

}


.sidebar {
  background-color: var(--color-sectionback);
  overflow-y: scroll;
  
  section {
    margin: $padding-fields*2 $padding-fields;
  }

  &__title{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-subtitles);
    font-weight: 100;
    margin-bottom: 0.8rem;
  }

  &__nav {
    a {
      display: block;
      margin-bottom: 0.5rem;
      color: var(--color-text) !important;

      &:hover {
         opacity: 1;
         color: var(--color-text-accent) !important;
      }

      &.active {
       cursor: default;
       color: var(--color-orange) !important;

       &:hover {
          color: var(--color-orange) !important;
       }
      }
    }
  }
}


main > .content {
  padding: $padding-fields*2;
  overflow: scroll;
}











/*====== Set width of container ======*/
.container-basic { @include secw($mq-desktop); }
.container-full {  width: 100%; display: block; }
table.container-full { display: table; }
.container-padding { @include secw(100%); }
/*====== end of Set width of container ======*/



/*====== Basic elements ======*/
.nav-vertical a, .nav-gorizontal a
  {
    @extend %link_noline;
    font-weight: 500;
  }

.nav-vertical a
  {
    display: block;
    padding: 5px 0;

    &:first-child{ padding-top: 0; }
    &:last-child{ padding-bottom: 0; }
  }

.nav-gorizontal a
  {
    display: inline-block;
    padding: 0 5px;

    &:first-child{ padding-left: 0; }
    &:last-child{ padding-right: 0; }
  }
/*====== end of Basic elements ======*/





/*====== Flow elements ======*/

.f-zoom { overflow: hidden; }
.f-left { float: left; }
.f-right { float: right; }


.d-table
  {
    display: table;

    & > *{
      display: table-cell;
    }
  }

.d-table--row { display: table-row; }
.d-table--cell { display: table-cell; }

.d-inlineblock { display: inline-block !important; }
.d-block { display: block !important; }

.align-vertical { vertical-align: middle; }
.align-top { vertical-align: top; }

.flexcols { @extend %flex_columns; }
.flex-center { @extend %flex_center; }

/*====== Flow elements ======*/






/*====== Transitions ======*/

// .fadeOut, .visible { transition: 0.3s ease-in-out opacity; }
// .fadeOut { visibility: hidden; opacity: 0; }
// .visible { opacity: 1; visibility: visible; }

/*====== end of Transitions ======*/






/*====== Bootstrap ======*/

.row
  {

    @media screen and (max-width: $bootstrap-md){
      *[class*='col-md']
        {
          margin-bottom: $vertical-rythm;
        }
    }

    @media screen and (max-width: $bootstrap-lg){
      *[class*='col-lg']
        {
          margin-bottom: $vertical-rythm;
        }
    }

  }

/*====== end of Bootstrap ======*/




// /*====== Navigation ======*/

// .dropdown
//   {
//     position: relative;

//     & > .dropdown-content
//       {
//         visibility: hidden;
//         opacity: 0;

//         position: absolute;
//         top: 100%;
//         left: 0;
//         z-index: 10;
//         text-align: left;
//         padding-top: 10px;
//       }

//     &:hover
//       {
//         & > .dropdown-content { animation: 0.2s FadeIn 0.4s ease-out forwards; }
//       }


//     &.dropdown-color, &.dropdown-color .inside{
//       padding: 8px 15px;
//       background: darken($c-background, 5%);
//       border: 1px solid $c-violet;
//       border-radius: 4px;
//     }
//   }

// /*====== end of Navigation ======*/




// /*====== Random ======*/



// .separator-dark, .separator-light, .separator-pale
//   {
//     height: 1px;
//     background-color: $c-text;
//   }

// .separator-light { background-color: #fff; }
// .separator-pale { background-color: $c-violet; }

// .separator-animated
//   {
//     transform: scale(0);
    
//     &.isInView { animation: ScaleIn 0.6s 0.8s ease-in-out forwards; }
//   }



.filepond--panel-root
  {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
  }


.breadcrumbs
  {
    span, a, i {
      display: inline-block;
      vertical-align: middle;
    }

    i{
      margin: 0 15px;
    }

    span, a { font-weight: 500; }
  }
 
// /*====== end of Random ======*/




/* action states (1-actions.js) */
.open { @extend %visible; }
.close { @extend %hidden; }


.disabled *, .disabled
  {
    filter: grayscale(1);
    opacity: 0.8;
    pointer-events: none;
  }

.ss-main.disabled{
  * { opacity: 1; }
}




.content-overflow{
  display: inline-block;
  box-sizing: content-box;
  overflow-x: scroll;
  overflow-y: hidden;
}


.content-hidden, .print-show{ display: none; }


@media print{
  body{
    &.theme-light, &.theme-dark { background-color: none !important; }
    &.flexcols { display: block; }
  }

  .sidebar, .ptint-hidden { display: none; }
  .content-hidden, .print-show { display: block; }

  .pre__overflow { max-height: 100%; }

  .form-section-title{
    padding: 0;
    background-color: transparent !important;
  }
}